@using RunGroopWebApp.ViewModels
@model UserDetailViewModel

<div class="container">

    <h1 class="my-4">
        @Model.UserName
    </h1>

    <div class="d-flex">

        <div class="col-md-3">
            <img class="img-fluid"  src="@Model.ProfileImageUrl" alt="" />
        </div>

        <div class="mx-5">
            @if (Model.Name != null || Model.Surname != null)
            {
                <h3 class="my-3">
                    Name:
                    <small>@Model.Name</small>
                </h3>
                <h3 class="my-3">
                    Surname:
                    <small>@Model.Surname</small>
                </h3>
            }
            
            <h3 class="my-3">
                Mileage:
                <small>@Model.Mileage</small>
            </h3>
            <h3 class="my-3">
                Pace:
                <small>@Model.Pace</small>
            </h3>
        </div>
    </div>
    <hr />
    <div>
        <h3 class="my-3">
            About Me
        </h3>
        <h5>
            @Model.AboutMe
        </h5>
    </div>

</div>