@using RunGroopWebApp.ViewModels
@model UserDetailViewModel

    <div class="container my-5">
        

        <div class="row">
        
            <div class="col-md-3">
            <h1 class="mb-4 text-center">
                @Model.UserName
            </h1>
                <img class="profile-image img-fluid" src="@Model.ProfileImageUrl" alt="Profile Image" />
            </div>

            <div class="col-md-5 mx-5 content-box text-center d-flex align-items-center justify-content-center">
                <div>
                @if (Model.Name != null || Model.Surname != null)
                {
                    <h3 class="my-3">
                        Name:
                        <small>@Model.Name @Model.Surname</small>
                    </h3>
                }
                    <h3 class="my-3">
                        Mileage:
                        <small>@Model.Mileage</small>
                    </h3>
                    <h3 class="my-3">
                        Pace:
                        <small>@Model.Pace</small>
                    </h3>
             </div>
        </div>

            <div class="col-md-3 content-box">
                <div class="my-3 text-center">
                    <h1 class="mb-4">
                        Contact Me
                    </h1>
                    <div class="mb-3">
                        <h5>Email:</h5>
                        <h6>@Model.Email</h6>
                    </div>
                    <div>
                        <h5>Phone Number:</h5>
                        <h6>@Model.PhoneNumber</h6>
                    </div>
                </div>
            </div>
        </div>

        <hr class="my-5">

        <div class="my-4 content-box">
            <h3 class="mb-3">About Me</h3>
            <p>@Model.AboutMe</p>
        </div>
    </div>
