@model RaceModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        Race Information
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="@Model.Image" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">@Model.Title</h3>
            <p> @Model.Description </p>
            <hr />
            <h3 class="my-3">Location</h3>
            <ul>
                <li>
                    <span class="fw-bold">City: </span>@Model.Address.City
               </li>
                <li> 
                    <span class="fw-bold">State: </span>@Model.Address.State
                </li>
            </ul>
            <hr />
            <h3 class="my-3">Category</h3>
            <p class="my-3">@Model.RaceCategory</p>
        </div>
    </div>
    <!-- /.row -->
    <!-- Related Projects Row -->

</div>
<!-- /.container -->
