@using RunGroopWebApp.Helpers;
@model IEnumerable<RaceModel>;

<div class="album py-5 bg-body-tertiary">
    <div class="container">

        @if (User.Identity.IsAuthenticated)
        {
            <button class="col bg-success">
                <a class="nav-link text-dark" asp-area="" asp-controller="Race" asp-action="Create">Create Race</a>
            </button>
        }

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="margin-top:5px">

            @foreach (var item in Model)
            {
                
                var timeHelper = new TimeHelper();
                string timeAgo = timeHelper.GetTimeAgoString(item.CreatedAt);
                 
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top" src="@item.Image" width="100%" height="300" alt="Card image cap">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h3 class="card-text text-center"> @item.Title </h3>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text text-center"> @item.Description </p>
                                </li>
                            </ul>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="Race" asp-action="Detail" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">View</a>

                                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                    {
                                        <a asp-controller="Race" asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                                        <a asp-controller="Race" asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                                    }

                                </div>
                                <small class="text-body-secondary">Category: @item.RaceCategory</small>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <small class="text-body-secondary">Created: @timeAgo</small>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>