@using RunGroopWebApp.Helpers;
@model ClubModel

@{
    string timeAgo = null; 
}

@if (Model.UpdatedAt != null)
{
    var timeHelper = new TimeHelper();
    timeAgo = timeHelper.GetTimeAgoString((DateTime)Model.UpdatedAt);
}

<div class="container">

    <h1 class="my-4">
        Club Information
    </h1>

    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="@Model.Image" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">@Model.Title</h3>
            <p> @Model.Description </p>
            <hr />
            <h3 class="my-3">Location</h3>
            <ul>
                <li>
                    <span class="fw-bold">City: </span>@Model.Address.City
                </li>
                <li>
                    <span class="fw-bold">State: </span>@Model.Address.State
                </li>
            </ul>
        <hr />
            <h3 class="my-3">Category</h3>
            <p class="my-3">@Model.ClubCategory</p>
        </div>
    </div>
    <div class="my-3">
        <h5 class="text-body-secondary">Created At: @Model.CreatedAt.ToString("dd/MM/yyyy")</h5>
    </div>
    @if(timeAgo != null)
    {
        <div class="my-3">
            <h5 class="text-body-secondary">Last Update: @timeAgo</h5>
        </div>
    }

</div>
