@using RunGroopWebApp.ViewModels
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<section class="bg-dark space-lg" data-jarallax data-speed="0.2" style="height:200px;">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="text-center section-intro text-white" style="margin-top:30px">
                <h1 class="display-3">Find a running group</h1>
                <span class="lead">
                    A community of devoted runners, passionate about running and life. Ready to find your accountability partner?
                </span>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!--end of section-->
<section>
    <div class="container" style="margin-top:20px">
        @if (Model.Clubs == null || Model.Clubs.Count() == 0)
        {
            <h1 class="">
                There are no running clubs in your area! You can  <a asp-area="" asp-controller="Club"
                                                            asp-action="Index">Create</a> one!
            </h1>
        }
        else
        {
            <div class="row justify-content-between mb-5">
                <div class="col-auto">
                    <h3>Running clubs near @Model.City, @Model.State</h3>
                </div>
                <!--end of col-->
                <div class="col-auto">
                    <a asp-area="" asp-controller="Club"
                       asp-action="Index" class="btn btn-outline-primary">View all</a>
                </div>
                <!--end of col-->
            </div>
            <ul class="row feature-list feature-list-sm list-unstyled">

                @foreach (var item in Model.Clubs)
                {
                    <li class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <a>
                                <img class="card-img-top" src="@item.Image" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <a>
                                    <h4 class="card-title">@item.Title</h4>
                                    <p class="card-text text-body">@item.Description</p>
                                </a>
                            </div>
                            <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                <div class="dropup">
                                    <a asp-controller="CLub" asp-action="Detail" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
        <!--end of row-->
    </div>
    <!--end of container-->
</section>